body {
  font-family: Syne;
}
.display-1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4.6rem;
}
.display-1 > .mbr-iconfont {
  font-size: 7.36rem;
}
.display-2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3rem;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Oswald', sans-serif;
  font-size: 1rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.68rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.8rem 2rem;
  border-radius: 0.25rem;
}
.btn-sm {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.btn-md {
  padding: 0.8rem 2rem;
  border-radius: 0.25rem;
}
.btn-lg {
  padding: 0.8rem 2rem;
  border-radius: 0.25rem;
}
.bg-primary {
  background-color: #ff8e5e !important;
}
.bg-success {
  background-color: #8aae3d !important;
}
.bg-info {
  background-color: #188ef4 !important;
}
.bg-warning {
  background-color: #d6d2cd !important;
}
.bg-danger {
  background-color: #df561c !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #ff8e5e !important;
  border-color: #ff8e5e !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #ff5812 !important;
  border-color: #ff5812 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ff5812 !important;
  border-color: #ff5812 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #1d1e22 !important;
  border-color: #1d1e22 !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #188ef4 !important;
  border-color: #188ef4 !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #0966b7 !important;
  border-color: #0966b7 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0966b7 !important;
  border-color: #0966b7 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #8aae3d !important;
  border-color: #8aae3d !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #5d7529 !important;
  border-color: #5d7529 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #5d7529 !important;
  border-color: #5d7529 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #d6d2cd !important;
  border-color: #d6d2cd !important;
  transition: all .5s;
  color: #5a534a !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  transition: all .5s;
  color: #5a534a !important;
  background-color: #b4aca3 !important;
  border-color: #b4aca3 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #5a534a !important;
  background-color: #b4aca3 !important;
  border-color: #b4aca3 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #df561c !important;
  border-color: #df561c !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #9b3c13 !important;
  border-color: #9b3c13 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #9b3c13 !important;
  border-color: #9b3c13 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  transition: all .5s;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  transition: all .5s;
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  transition: all .5s;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  transition: all .5s;
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none !important;
  border-color: #f74a00 !important;
  color: #f74a00 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff !important;
  background-color: #ff8e5e !important;
  border-color: #ff8e5e !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff8e5e !important;
  border-color: #ff8e5e !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff !important;
  background-color: #1d1e22 !important;
  border-color: #1d1e22 !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #1d1e22 !important;
  border-color: #1d1e22 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none !important;
  border-color: #08589e !important;
  color: #08589e !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff !important;
  background-color: #188ef4 !important;
  border-color: #188ef4 !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #188ef4 !important;
  border-color: #188ef4 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none !important;
  border-color: #4e6223 !important;
  color: #4e6223 !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff !important;
  background-color: #8aae3d !important;
  border-color: #8aae3d !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #8aae3d !important;
  border-color: #8aae3d !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none !important;
  border-color: #a8a095 !important;
  color: #a8a095 !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #5a534a !important;
  background-color: #d6d2cd !important;
  border-color: #d6d2cd !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #5a534a !important;
  background-color: #d6d2cd !important;
  border-color: #d6d2cd !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none !important;
  border-color: #843311 !important;
  color: #843311 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff !important;
  background-color: #df561c !important;
  border-color: #df561c !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #df561c !important;
  border-color: #df561c !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none !important;
  border-color: #000000 !important;
  color: #000000 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ff8e5e !important;
}
.text-secondary {
  color: #1d1e22 !important;
}
.text-success {
  color: #8aae3d !important;
}
.text-info {
  color: #188ef4 !important;
}
.text-warning {
  color: #d6d2cd !important;
}
.text-danger {
  color: #df561c !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f74a00 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #000000 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #4e6223 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #08589e !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a8a095 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #843311 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #8aae3d;
}
.alert-info {
  background-color: #188ef4;
}
.alert-warning {
  background-color: #d6d2cd;
}
.alert-danger {
  background-color: #df561c;
}
.mbr-section-btn a.btn {
  border-radius: 100px;
}
.mbr-section-btn a.btn:hover,
.mbr-section-btn a.btn:focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ff8e5e;
  border-color: #ff8e5e;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #ff8e5e;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c2d992;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #dbedfd;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #f9dbce;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.mbr-arrow-up a {
  width: 61px;
  height: 61px;
}
#scrollToTop a {
  background: #188ef4;
}
#scrollToTop a i:before {
  content: '';
  position: absolute;
  height: 40%;
  top: 25%;
  background: #ffffff;
  width: 3%;
  left: calc(50% - 1px);
}
#scrollToTop a i:after {
  content: '';
  position: absolute;
  display: block;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  width: 40%;
  height: 40%;
  left: 30%;
  bottom: 30%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
.mbr-arrow i {
  color: #188ef4;
}
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #ff8e5e;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #ff8e5e;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #ff8e5e;
}
.btn-social + .btn {
  margin-left: .1rem;
}
@media (min-width: 768px) {
  .rounded-left {
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
  }
  .rounded-left {
    border-top-left-radius: 100px !important;
    border-bottom-left-radius: 100px !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ff8e5e;
  color: #ffffff;
}
.jq-number__spin {
  background-color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ff8e5e;
  border-bottom-color: #ff8e5e;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #ff8e5e !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #1d1e22 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ff8e5e' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-scfzW1I84M .navbar-dropdown {
  position: relative !important;
}
.cid-scfzW1I84M .dropdown-item:before {
  font-family: Moririse2 !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-scfzW1I84M .dropdown-menu {
  padding: 0;
  border-radius: 0px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-scfzW1I84M .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-scfzW1I84M .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-scfzW1I84M .nav-link {
  position: relative;
}
.cid-scfzW1I84M .container {
  display: flex;
  margin: auto;
}
.cid-scfzW1I84M .iconfont-wrapper {
  color: #000000 !important;
  padding-right: .5rem;
}
.cid-scfzW1I84M .dropdown-menu,
.cid-scfzW1I84M .navbar.opened {
  background: #ffffff !important;
}
.cid-scfzW1I84M .nav-item:focus,
.cid-scfzW1I84M .nav-link:focus {
  outline: none;
}
.cid-scfzW1I84M .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-scfzW1I84M .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-scfzW1I84M .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: .5rem;
  vertical-align: sub;
}
.cid-scfzW1I84M .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-scfzW1I84M .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-scfzW1I84M .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-scfzW1I84M .navbar {
  margin-top: 0;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  min-height: 70px;
  transition: all .3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #ffffff;
}
.cid-scfzW1I84M .navbar .container {
  transition: all .3s;
}
.cid-scfzW1I84M .navbar.opened {
  transition: all .3s;
}
.cid-scfzW1I84M .navbar .dropdown-item {
  padding: .5rem 1.8rem;
}
.cid-scfzW1I84M .navbar .navbar-logo img {
  width: auto;
}
.cid-scfzW1I84M .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-scfzW1I84M .navbar.collapsed {
  justify-content: center;
}
.cid-scfzW1I84M .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-scfzW1I84M .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-scfzW1I84M .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 8rem);
  }
}
.cid-scfzW1I84M .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-scfzW1I84M .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-scfzW1I84M .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-scfzW1I84M .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-scfzW1I84M .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-scfzW1I84M .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-scfzW1I84M .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-scfzW1I84M .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-scfzW1I84M .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-scfzW1I84M .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-scfzW1I84M .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-scfzW1I84M .navbar .navbar-logo {
    max-width: 170px;
  }
  .cid-scfzW1I84M .navbar .navbar-logo img {
    max-width: 100%;
    height: 3rem !important;
  }
  .cid-scfzW1I84M .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-scfzW1I84M .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-scfzW1I84M .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-scfzW1I84M .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-scfzW1I84M .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-scfzW1I84M .navbar.navbar-short {
  margin-top: 20px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: transparent;
  min-height: 60px;
}
@media (max-width: 991.98px) {
  .cid-scfzW1I84M .navbar.navbar-short {
    padding-left: 0;
    padding-right: 0;
  }
}
.cid-scfzW1I84M .navbar.navbar-short .container {
  background-color: #ffffff;
}
@media (max-width: 991.98px) {
  .cid-scfzW1I84M .navbar.navbar-short .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
}
.cid-scfzW1I84M .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-scfzW1I84M .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-scfzW1I84M .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-scfzW1I84M .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-scfzW1I84M .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-scfzW1I84M .dropdown-item.active,
.cid-scfzW1I84M .dropdown-item:active {
  background-color: transparent;
}
.cid-scfzW1I84M .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-scfzW1I84M .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-scfzW1I84M .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-scfzW1I84M .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-scfzW1I84M .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-scfzW1I84M .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-scfzW1I84M ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-scfzW1I84M .navbar-buttons {
  text-align: center;
}
.cid-scfzW1I84M button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  align-self: center;
}
.cid-scfzW1I84M button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #333333;
}
.cid-scfzW1I84M button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-scfzW1I84M button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-scfzW1I84M button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-scfzW1I84M button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-scfzW1I84M nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-scfzW1I84M nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-scfzW1I84M nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-scfzW1I84M nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-scfzW1I84M .navbar-dropdown {
  padding: 0 1rem;
}
.cid-scfzW1I84M a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-scfzW1I84M .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-scfzW1I84M .navbar {
    height: 70px;
  }
  .cid-scfzW1I84M .navbar.opened {
    height: auto;
  }
  .cid-scfzW1I84M .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-scfzWk7EMZ {
  padding-top: 8.8rem;
  padding-bottom: 8.9rem;
}
.cid-scfzWk7EMZ .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-scfzWk7EMZ .mbr-text,
.cid-scfzWk7EMZ .mbr-section-btn {
  color: #ffffff;
}
.cid-scfzWk7EMZ .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-scfzWk7EMZ .container-text {
  margin-top: 6.31rem;
  margin-bottom: 0.63rem;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 991px) {
  .cid-scfzWk7EMZ .container-text {
    margin-top: 6.25rem;
  }
}
@media (max-width: 767px) {
  .cid-scfzWk7EMZ .container-text {
    margin-top: 4.37rem;
  }
}
@media (max-width: 479px) {
  .cid-scfzWk7EMZ .container-text {
    margin-top: 3.75rem;
  }
}
.cid-scfzWk7EMZ .container {
  align-items: flex-start;
  box-shadow: 0 0 0 0 rgba(255, 142, 94, 0.5);
}
.cid-scfzWk7EMZ .mbr-section-subtitle,
.cid-scfzWk7EMZ .mbr-section-btn {
  text-align: center;
}
.cid-sEBabndcP5 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-sEBabndcP5 .mbr-section-subtitle {
  color: #04367c;
  text-align: center;
}
.cid-sEBabndcP5 .mbr-section-title {
  text-align: center;
  color: #098484;
}
.cid-sEFYOMrZHw {
  padding-top: 75px;
  padding-bottom: 75px;
  background-image: url("../../../assets/images/background6.jpg");
}
.cid-sEFYOMrZHw .mbr-overlay {
  background: #1dc8cc;
  background: linear-gradient(90deg, #1dc8cc, #188ef4);
}
.cid-sEFYOMrZHw .mbr-text {
  color: #8d97ad;
}
.cid-sEFYOMrZHw .card-wrap {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
.cid-sEFYOMrZHw H1 {
  color: #098484;
}
.cid-sEFYOMrZHw .mbr-text,
.cid-sEFYOMrZHw .mbr-section-btn {
  color: #04367c;
}
.cid-scfzWwZQG1 {
  padding-top: 2.5rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-scfzWwZQG1 .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-scfzWwZQG1 .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-scfzWwZQG1 li {
  background: none;
  border: none;
  margin-bottom: 0.31rem;
}
.cid-scfzWwZQG1 li:nth-child(1) .mbr-iconfont {
  color: #ff8e5e;
}
.cid-scfzWwZQG1 li:nth-child(2) .mbr-iconfont {
  color: #1d1e22;
}
.cid-scfzWwZQG1 li:nth-child(3) .mbr-iconfont {
  color: #188ef4;
}
.cid-scfzWwZQG1 li:nth-child(4) .mbr-iconfont {
  color: #8aae3d;
}
.cid-scfzWwZQG1 li:nth-child(5) .mbr-iconfont {
  color: #d6d2cd;
}
.cid-scfzWwZQG1 li:nth-child(6) .mbr-iconfont {
  color: #df561c;
}
.cid-scfzWwZQG1 li .mbr-iconfont {
  margin-right: 1.25rem;
  display: inline-block;
  vertical-align: middle;
}
.cid-scfzWwZQG1 ul {
  padding-top: 30px;
  border-top: 2px solid #d6d2cd;
  list-style: none;
}
.cid-scfzWwZQG1 .mbr-section-title {
  margin-bottom: 5rem;
  color: #04367c;
}
.cid-scfzWwZQG1 .mbr-text {
  margin-bottom: 3.75rem;
}
.cid-scfzWwZQG1 .mbr-section-btn {
  margin-top: 8.75rem;
}
.cid-scfzWwZQG1 .mbr-text,
.cid-scfzWwZQG1 .mbr-section-btn {
  color: #098484;
}
.cid-scfzWwZQG1 .mbr-section-title DIV {
  text-align: center;
}
.cid-sEBc1Ve9u4 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background8.jpg");
}
.cid-sEBc1Ve9u4 .card-text,
.cid-sEBc1Ve9u4 .mbr-section-subtitle {
  color: #8d97ad;
}
.cid-sEBc1Ve9u4 .main,
.cid-sEBc1Ve9u4 .main-reverse {
  border: 1px solid rgba(120, 130, 140, 0.13);
  margin: 0;
  background: #f4f8fa;
}
.cid-sEBc1Ve9u4 .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-sEBc1Ve9u4 .main-reverse {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-sEBc1Ve9u4 .image-element {
  padding: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-sEBc1Ve9u4 .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-sEBc1Ve9u4 .text-element {
  padding: 3rem 2rem;
}
.cid-sEBc1Ve9u4 .mbr-iconfont {
  font-size: 3rem;
  color: #188ef4;
}
.cid-sEBc1Ve9u4 .bottom-radius {
  overflow: hidden;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
.cid-sEBc1Ve9u4 .top-radius {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  overflow: hidden;
}
@media (max-width: 991px) {
  .cid-sEBc1Ve9u4 .main-reverse {
    flex-direction: row;
    -webkit-flex-direction: row;
  }
}
@media (max-width: 767px) {
  .cid-sEBc1Ve9u4 .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .cid-sEBc1Ve9u4 .image-element,
  .cid-sEBc1Ve9u4 .text-element {
    margin-bottom: 0;
  }
  .cid-sEBc1Ve9u4 .main:first-child {
    padding-top: 0;
  }
}
.cid-sEBc1Ve9u4 .mbr-section-title {
  color: #04367c;
}
.cid-sEBc1Ve9u4 .mbr-section-subtitle {
  color: #098484;
}
.cid-scfzXbxGcj {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-scfzXbxGcj .mbr-section-subtitle {
  position: relative;
  margin-bottom: 3.75rem;
  color: #1d1e22;
}
.cid-scfzXbxGcj .mbr-section-subtitle::before {
  content: '"';
  position: absolute;
  left: -1.5rem;
  top: -0.2em;
  font-size: 1.8em;
}
@media (max-width: 546px) {
  .cid-scfzXbxGcj .mbr-section-subtitle::before {
    content: none;
  }
}
@media (max-width: 786px) {
  .cid-scfzXbxGcj .mbr-section-subtitle {
    margin-bottom: 1.875rem;
  }
}
.cid-scfzXbxGcj .mbr-text {
  color: #1d1e22;
}
.cid-sEG12HGwj9 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url("../../../assets/images/background22.jpg");
}
.cid-sEG12HGwj9 .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-sEG12HGwj9 form.mbr-form {
  border-radius: 10px;
  background-color: #fafafa;
}
@media (min-width: 992px) {
  .cid-sEG12HGwj9 form.mbr-form {
    padding: 3rem 2rem;
    width: 70%;
  }
}
@media (max-width: 991px) {
  .cid-sEG12HGwj9 form.mbr-form {
    padding: 1rem;
  }
}
.cid-sEG12HGwj9 form.mbr-form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-sEG12HGwj9 form.mbr-form .mbr-section-btn .btn {
  width: 100%;
}
.cid-sEG12HGwj9 P {
  color: #04367c;
}
.cid-sEG12HGwj9 .mbr-section-title {
  color: #098484;
}
.cid-sEG7hJb95f.popup-builder {
  background-color: #ffffff;
}
.cid-sEG7hJb95f.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-sEG7hJb95f.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-sEG7hJb95f .modal-content,
.cid-sEG7hJb95f .modal-dialog {
  height: auto;
}
.cid-sEG7hJb95f .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-sEG7hJb95f .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-sEG7hJb95f .form-wrapper .mbr-form .form-group,
  .cid-sEG7hJb95f .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-sEG7hJb95f .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-sEG7hJb95f .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-sEG7hJb95f .mbr-text {
  text-align: center;
  color: #04367c;
}
.cid-sEG7hJb95f .pt-0 {
  padding-top: 0 !important;
}
.cid-sEG7hJb95f .pb-0 {
  padding-bottom: 0 !important;
}
.cid-sEG7hJb95f .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-sEG7hJb95f .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-sEG7hJb95f .modal-open {
  overflow: hidden;
}
.cid-sEG7hJb95f .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-sEG7hJb95f .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-sEG7hJb95f .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-sEG7hJb95f .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-sEG7hJb95f .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-sEG7hJb95f .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-sEG7hJb95f .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-sEG7hJb95f .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-sEG7hJb95f .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-sEG7hJb95f .modal-backdrop.fade {
  opacity: 0;
}
.cid-sEG7hJb95f .modal-backdrop.show {
  opacity: .5;
}
.cid-sEG7hJb95f .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-sEG7hJb95f .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-sEG7hJb95f .modal-header {
    padding: 1rem;
  }
}
.cid-sEG7hJb95f .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-sEG7hJb95f .modal-header .close:hover {
  opacity: 1;
}
.cid-sEG7hJb95f .modal-header .close:focus {
  outline: none;
}
.cid-sEG7hJb95f .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #098484;
}
.cid-sEG7hJb95f .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 100%;
}
@media (min-width: 992px) {
  .cid-sEG7hJb95f .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sEG7hJb95f .modal-body {
    padding: 1rem;
  }
}
.cid-sEG7hJb95f .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-sEG7hJb95f .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sEG7hJb95f .modal-footer {
    padding: 1rem;
  }
}
.cid-sEG7hJb95f .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-sEG7hJb95f .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-sEG7hJb95f .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-sEG7hJb95f .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-sEG7hJb95f .modal-sm {
    max-width: 300px;
  }
  .cid-sEG7hJb95f .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-sEG7hJb95f .modal-lg,
  .cid-sEG7hJb95f .modal-xl {
    max-width: 800px;
  }
  .cid-sEG7hJb95f .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-sEG7hJb95f .modal-xl {
    max-width: 1140px;
  }
  .cid-sEG7hJb95f .container {
    max-width: 1140px;
  }
}
.cid-sEG7hJb95f .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-sEG7hJb95f .container {
    max-width: 720px;
  }
}
.cid-sEG7hJb95f .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-sEG7hJb95f .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-sEG7hJb95f .form-group {
  margin-bottom: 1rem;
}
.cid-sEG7hJb95f .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-sEG7hJb95f .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-sEG7hJb95f .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-sEG7hJb95f .mbr-section-btn {
  margin: 0;
}
.cid-sEG7hJb95f .mbr-section-btn .btn {
  margin: 0;
}
.cid-scfzXKU5UZ {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #1d1e22;
}
.cid-scfzXKU5UZ a:link {
  text-decoration: none;
}
@media (max-width: 767px) {
  .cid-scfzXKU5UZ .align-left {
    text-align: center;
  }
}
.cid-scfzXKU5UZ .icon-transition span {
  color: #f6f4f2;
  display: block;
  height: 2.6em;
  line-height: 2.6em;
  border-radius: 50%;
  border: 2px solid #ffffff;
  width: 2.6em;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  font-size: 14px;
}
.cid-scfzXKU5UZ .icon-transition span:hover {
  background-color: #ff9966;
  color: #f6f4f2 !important;
}
.cid-scfzXKU5UZ .icon-transition span:hover {
  color: #ff8e5e;
}
.cid-scfzXKU5UZ .social-media {
  display: flex;
}
@media (max-width: 767px) {
  .cid-scfzXKU5UZ .social-media {
    justify-content: center !important;
  }
}
.cid-scfzXKU5UZ .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-scfzXKU5UZ .social-media ul li {
  padding: 4px;
  display: inline-block;
}
.cid-scfzXKU5UZ .content-text,
.cid-scfzXKU5UZ .inner-text {
  color: #f6f4f2;
}
.cid-scfzXKU5UZ .hidden {
  visibility: visible !important;
}
